<!--Navbar-->
<mdb-navbar *ngIf="header.length > 0" SideClass="navbar navbar-expand-lg">
  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto" *ngFor="let item of header">
      <li class="nav-item active">
        <a class="nav-button nav-link" mdbWavesEffect
          >{{ item?.title }}<span class="sr-only"></span
        ></a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
