<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg">
  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect
          >WELKOM<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect
          >WAT DOEN WIJ<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>REFERENTIES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>WIE ZIJN WIJ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>CONTACT</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
