<!-- Section: Contact v.2 -->
<section style="background: #252531" class="py-5">
  <div class="container">
    <!-- Section heading -->
    <div style="color: #dbdbea" class="responsive text-center font-weight-bold">
      <p>
        Wilt u meer weten over onze mogelijkheden: bel +31 (0)40 251 06 22 of
        neem
        <a
          style="color: #ef6200"
          class="font-weight-bold"
          href="https://deroostermakers.nl/contact"
          >contact </a
        >met ons op.
      </p>

      <p class="block">
        volg ons op
        <a [href]="contact.social_links.linkedIn">
          <img
            width="50"
            height="50"
            src="/assets/images/template/linkedin.png"
            alt=""
          />
        </a>
        <a [href]="contact.social_links.facebook">
          <img
            width="50"
            height="50"
            src="/assets/images/template/icon_facebook.png"
            alt=""
          />
        </a>
      </p>
    </div>
    <!-- Section description -->
  </div>
</section>
<!-- Section: Contact v.2 -->
